.wrapper {
    background-color: var(--background-color);
    max-width: 1290px;
    margin: 0 auto;
}
.watch-area {
    margin: 10px 64px;
}

.video-player {
    max-width: 1170px;
}

.player {
}

.video-episode {
    margin-top: 30px;
    background-color: #202020;
    background: #202020;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.episode-header {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px dashed #2f2f2f;
    padding-bottom: 10px;
}

.episodes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.episode-item {
    background-color: #1e1e1e;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    font-size: 13px;
    // width: 5%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;

    &:hover {
        background-color: var(--primary);
    }
}

.watch-recommend {
    margin-bottom: 50px;
}
//comment
.watch-comment {
    margin: 10px 64px;
    background-color: #202020;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #ccc964;
}

.comment-icon {
    margin: 0 5px;
    width: 24px;
    height: 24px;
}
.title {
    display: inline-block;
    line-height: 1.8;
    margin: 0;
    font-weight: 700;
}
.comment-frame {
}

.comment-input {
}

.comment-content {
    flex: 1;
    background: #000;
    color: #fff;
    padding: 10px;
    font: 400 1.6rem roboto;
    border: 1px solid #2a2a2a;
    border-style: none;
    width: 100%;
    outline: none;
}
.comment-btn {
    display: flex;
    justify-content: flex-end;
}
.comments-list {
    margin-top: 10px;
}

.comment-item {
    display: flex;
    padding: 10px;
    background: #171717;
    margin: 5px 0;
    border-radius: 10px;
}

.avatar {
    width: 60px;
    position: relative;
    height: 60px;
    overflow: hidden;
    border: 3px solid #656565;
    border-radius: 10px;
}
.avatar img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px;
    box-sizing: border-box;
}

.displayname {
    font-weight: 700;
    color: #669698;
    margin-right: 5px;
    line-height: 1;
}

.content {
    padding: 5px 0 8px 0;
    word-break: break-all;
    color: #afaaaa;
    font-size: 13px;
    line-height: 1.2;
}

.reply {
    color: #7d7d7d;
    font-size: 1.2rem;
    display: flex;
}
.reply-content {
    margin-right: 5px;
    &:hover {
        cursor: pointer;
    }
}

.active {
    background-color: var(--primary);
}
.show-more {
    border-radius: 5px;
    margin: 0 2px;
    padding: 10px;
    border-bottom: 3px solid #292929;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    background-color: var(--bs-blue);
    text-align: center;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

//btn login
.login {
    display: flex;
    justify-content: center;
}
.btn-login {
    font-weight: 500;
    font-size: 1.6rem;
    color: #cac9c9;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bs-red);

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
// feedback
.frame-reply-comment {
    border-left: 1px dashed #000000;
    margin-left: 35px;
    padding-left: 10px;
}
