.wrapper {
    color: var(--text-color);
    padding: 5px 10px;
    display: flex;
    cursor: pointer;
}
.icon {
    margin-right: 10px;
}
.icon svg {
    width: 1.6rem;
    height: 1.6rem;
}

.primary {
    background-color: var(--primary);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 8px 32px;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}
