@import 'normalize.css';

:root {
    --white: #fff;
    --black: #000;
    --text-color: #cac9c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: auto;
}

a {
    text-decoration: none;
}
