.wrapper {
    margin: 0 auto;
    color: var(--white);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    min-height: 70px;
    z-index: 1;
    width: calc(100% + 0px);
}

.container {
    background-color: aqua;
    height: 300px;
    position: relative;
}
.image img {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
    width: 100%;
}
.content {
}

.footer {
    height: 100px;
    background-color: red;
}
