.wrapper {
    margin: 0 auto;
    color: var(--white);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    min-height: 70px;
    z-index: 10;
    width: calc(100% + 0px);
    transition: background-color 0.5s linear 0s;
}

.scrolled {
    background-color: var(--black);
}

.container {
    position: relative;
}
.breadcrumb {
    padding-top: 70px;
}

.content {
    min-height: 63vh;
}

.footer {
    border-top: 1px solid #30343d;
    background: var(--black);
    padding-bottom: 20px;
}
