.wrapper {
    margin: 0 auto;
    color: var(--white);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    min-height: 70px;
    z-index: 1;
    width: calc(100% + 0px);
}

.container {
    position: relative;
}
.slider {
    height: 100%;
    min-height: 100%;
}
.content {
    min-height: 60vh;
}

.footer {
    height: 100px;
    background-color: red;
}
