.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }
    color: var(--text-color);
    width: 270px;
}
.icon {
    width: 1.6rem;
    height: 1.6rem;
    padding-right: 10px;
}
.name {
}
